In [1]:
import pandas as pd

In [2]:
cc = "es"
df = pd.read_csv(f'./data/{cc}/blogs_meta.csv')

In [9]:
res_df.loc[df['project_id'] == 51]

,Unnamed: 0,project_id,weiterempfehlungsquote (%),rating_value,review_count,content,n_comments
0,0,51,NaN,NaN,NaN,\nNuevo proyecto: FAGE Total \n¡Nos preparamos...,0

In [11]:
res_df = pd.read_csv(f'./data/{cc}/results.csv')
for i, row in res_df.iterrows():          
    res_df.loc[df['project_id'] == row['project_id']] = int(df.loc[df['project_id'] == row['project_id'], 'n_comments'].sum())
    # row['n_comments'] = int(df.loc[df['project_id'] == row['project_id'], 'n_comments'].sum())
    
        
res_df.to_csv(f'./data/{cc}/results.csv', index=None)